.wraps {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: start;
    font-family:cursive;
}


#myFormAPI {
    display: flex;
    width: 450px;
    height: 600px;
    background-color: bisque;
    border: 3px gold solid;
    box-shadow: 10px 5px 15px red;
    border-radius: 15px;
    padding-left: 30px;
    justify-content: start;
    flex-wrap: wrap;
}

.anketa {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 35px;
}
.colum1{
    display: flex;
    width: 50%;
}
.colum2{
    display: flex;
    width: 50%;
}
.colum3{
    display: flex;
    width: 50%;
    justify-content: center;
}
.colum4{
    display: flex;
    width: 50%;
    justify-content: center;
}
.sex1 {
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.inp {
    display: flex;
    width: 100%;
    padding: 5px;
}
.but {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
}
#but1 {
    width:  300px;
    border-radius: 15px;
    border: 3px gold solid;
    box-shadow: 5px 5px 7px red;  
    font-family: cursive;
}
input {
    font-family: cursive;
}
.href{
    margin-left: 35%;
}