body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

.contaner {
    width: 100%;
}

h1 {
    color: darkblue;
}

button[type="submit"] {
    background-color: green;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}
